/*
!/tools/
!/parametric_gems/
!/jewel_tools/
!/pretty_ruler_overlay/
!/jewelry_suite/
!/README.md
!/LICENSE.md
!/.gitignore

**/__pycache__/
**/*.py[cod]
**/.DS_Store
/dist/
/parametric_gems/tests/*.png
